<p><span style="font-size: 30px;">Rethinking Home</span> is a project bringing two coastal communities together to share insights about the personal impacts of climate change.</p>

<p>
	A project of the American Museum of Natural History  in partnership with Falemata'aga - The Museum of Samoa, Rethinking Home invites participants to share their thoughts about:
	<ul>
		<li style="text-align: left">local impacts of climate change</li>
		<li style="text-align: left">how impacts such as increasingly severse weather are affecting houses and the ways we rebuild, shore up, and think about our buildings</li text-align: left>
		<li style="text-align: left">how these changes affect feelings about home, including senses of personal safety and identity</li>
	</ul>
</p>

<br>
<p><i>Rethinking Home: Climate Change in New York and Samoa</i> is supported by Museum Connect, a grant program of the American Alliance of Museums made possible by the U.S Department of State's Bureau of Educational and Cultural Affairs. The Museums Connect grant program strengthens connections and cultural understanding between people in the United States and abroad through innovative year-long projects facilitated by museums.</p>


<p>For more information about becoming a project participant or creating a partnership with our project, please contact Jacklyn Lacey at jlacey@amnh.org or Jenny Newell at jnewell@amnh.org.</p>




<div class="footer">Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.</div>