<!DOCTYPE html>
<html>
<head>
	<title>Rethinking Home</title>
	<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<h1 class="welcome-header">Rethinking Home</h1>

	<button type="button"><%= link_to 'Add Your Story', stories_path %></button></h2>

</div>
</body>
</html>