	<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

<div style='width: 800px;'>
  <div id="map" style='width: 1100px; height: 400px;'></div>
</div>

<%= gmaps4rails(@json) %>

<h2>Recently added stories:</h2>
<% @stories.each do |story| %>
<div>
	<%= link_to story.name, story %>
	<%= story.body %>
</div>
<% end %>

<div><%= link_to 'Add Your Story', new_story_path %></div>
