<h1>Climate Change Stories</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 1100px; height: 400px;'></div>
</div>

<%= gmaps4rails(@json) %>


<% @stories.each do |story| %>
<div>
	<%= link_to story.name, story %>
	<%= story.body %>
</div>
<% end %>

<%= link_to 'Add Your Story', new_story_path %>