<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
<div class="map">
<div style='width: 800px;'>
	<div id="map" style='width: 1100px; height: 450px;'></div>
</div>

<%= gmaps4rails(@json) %>
</div>

<h3>All stories:</h3>
	<% @stories.each do |story| %>
	<div class="index-story">
	<h4><%= link_to story.name, story %></h4>
	<h6><%= story.body %></h6>
</div>
<% end %>