body {
font-family: 'Karla', sans-serif;
}

ul {
	text-align: right;
}

.navbar {
	margin-top: -100px;
}

.active {
 	display: inline;
 	margin-right: 20px;
 }

.welcome-header {
 	text-align: center;
 	font-size: 50px;
 	margin-top: 20%;
 }

.welcome-button {
	padding: 16.5px 31px;
	text-decoration: none;
	-webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 19;
	box-shadow: none;
	text-shadow: none;
}

.welcome-button:hover {
   border-top-color: #35a16b;
   background: #35a16b;
   }
.welcome-button:active {
   border-top-color: #1e6643;
   background: #1e6643;
   }

#welcome-button {
		text-align: center;
}

.story-map {
	float: right;
}

.story-container {
	float:left;
}

.links {
	margin-top: 20px;
	clear: both;
	float: left;
}

h1 {
	padding-left: 20px;
}

.index-story {
	float: left;
	padding-left: 10%;
	margin-bottom: 30px;
}

.comments {
	margin-top: 30px;
	margin-left: 200px;
}

.story-form {
	text-align: center;
}