body {
font-family: 'Karla', sans-serif;
}

ul {
	text-align: right;
}

.active {
 	display: inline;
 	margin-right: 20px;
 }

.welcome-header {
 	text-align: center;
 	margin-top: 25%;
 }

#welcome-button {
	text-align: center;
}

.story-map {
	float: right;
}

.story-container {
	float:left;
}

.links {
	margin-top: 20px;
	clear: both;
	float: right;
}

h1 {
	padding-left: 20px;
}

.index-story {
	float: left;
	padding-left: 10%;
	margin-bottom: 30px;
}

#comments {
}